body {
  background: #f9f5f0;
  color: #333333;
  margin-top: 5rem;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h6:hover{
  cursor: pointer;
}

ul {
  margin: 0;
}
.mar{
  margin: 20px 0px 20px 0px;
}
.marg{
  margin: 20px 0px 20px 0px;
}
.bg-steel {
  background-color: #c2a780;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.site-header .navbar-nav .nav-link {
  color: #000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


#loader {
display: none;
  animation: loader 2s cubic-bezier(.8,0,.2,1) infinite;
  height: 40px;
  width: 41px;
  position: absolute;
  top:calc(50% - 20px);
  left:calc(50% - 20px);
}
#loading{
  display: none;
  position: absolute;

  top:calc(60% - 20px);
  left:calc(40% - 20px);
}
@keyframes loader {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
#top {
  animation: top 2s linear infinite;
  border-top: 20px solid #c2a780;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}
#bottom {
  animation: bottom 2s linear infinite;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #c2a780;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}
#line {
  animation: line 2s linear infinite;
  border-left: 1px dotted #c2a780;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@keyframes line {
  10% { height: 20px; }
  100% { height: 20px; }
}

#submit1{
	 background-color: #f9f5f0; 
	 color: black;
	 border-color: #c2a780;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#submit1:hover{
  background:  #c2a780;
  color: white;
}

.w3-container{
  padding:20px;
}

#image{
  width: 50px;
  height: 50px;
}

.header{
   background:  #c2a780;
}

.dropdown-menu{
  background: #f9f5f0;
}
.table{
  margin:40px;
}
.table-color{
  background: #f9f5f0;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   color:  #000;
}

.btn:{
  color: #f9f5f0;
}
.btn:hover{
  background: #c2a780;

}

.text-center{
 margin: 30px;
}
.txt2:hover{
  text-decoration: none;
  color: green;
}
.heading{
  background: #c2a780;
  text-align: center;
}


table {
  overflow: hidden;
     border-radius: 25px;
     margin : 10px;
}
tr, th, td{
  padding: 15px;
}
th:hover,td:hover{
  background-color: #c2a780;
}
.info{
margin: 15px;
  padding: 15px;
 border-left: 6px solid #c2a780;
}
#collapsing{
  text-align: center;
  margin: 10px;
}
.section{
  border-right:5px solid black;
}
.card-head{
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.center{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.centeric{
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.para{
margin: 30px;
}
#formdiv{
  padding: 50px;
  margin: 30px;
}



