 {% extends "blog/base.html" %}
{% block content %}
  {% load static %}
  
 <div class="info w3-round-large w3-sand w3-card-4">
          <p><strong>Note: </strong> The Glycemic Index (GI) is a relative ranking of carbohydrate in foods according to how they affect blood glucose levels. Carbohydrates with a low GI value (55 or less) are more slowly digested, absorbed and metabolised and cause a lower and slower rise in blood glucose and, therefore insulin levels.﻿</p>
        </div>
        
      <div class="row" >
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="w3-card-4 w3-animate-opacity w3-panel w3-round-large w3-sand">
          <table class="table-striped ">
            <thead>
              <tr class="heading">
                <th scope="col"></th>
                
                <th scope="col" >Glycemic Index</th>
                <th scope="col"></th>
              </tr>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Food</th>
                <th scope="col">Glycemic-index(GI)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Grain</th>
                <td>Barley</td>
                <td>22</td>
                
                
              </tr>
              <tr>
                <th></th>
                <td>Boiled rolled barley  </td>
                <td>46</td>
              </tr>
              <tr>
                <th></th>
                <td>Boiled soybeans </td>
                <td>15</td>
              </tr>
              <tr>
                <th></th>
                <td>Glutinous rice </td>
                <td>87</td>
              </tr>
              <tr>
                <th></th>
                <td>Rice cake </td>
                <td>48</td>
              </tr>
              <tr>
                <th></th>
                <td>Croissant </td>
                <td>67</td>
              </tr>
              <tr>
                <th scope="row">Vegetables</th>
                <td>Boiled carrot </td>
                <td>33</td>
                
                
              </tr>
              <tr>
                <th></th>
                <td>Potato  </td>
                <td>66</td>
              </tr>
              <tr>
                <th></th>
                <td>Boiled potato </td>
                <td>49</td>
              </tr>
              <tr>
                <th></th>
                <td>Fried potato   </td>
                <td>70</td>
              </tr>
              <tr>
                <th></th>
                <td>Mashed potatoes </td>
                <td>83</td>
              </tr>
              <tr>
                <th></th>
                <td>Boiled sweet potato</td>
                <td>44</td>
              </tr>
              <tr>
                <th scope="row">Fruits  </th>
                <td>Grapefruit </td>
                <td>25</td>
                
                
              </tr>
              <tr>
                <th></th>
                <td>Prune  </td>
                <td>29</td>
              </tr>
              <tr>
                <th></th>
                <td>Dried apricot </td>
                <td>30</td>
              </tr>
              <tr>
                <th></th>
                <td>Apricot </td>
                <td>34</td>
              </tr>
              <tr>
                <th></th>
                <td>Apple</td>
                <td>40</td>
              </tr>
              <tr>
                <th></th>
                <td>Plum</td>
                <td>24</td>
              </tr>
              <tr>
                <th></th>
                <td>Strawberry</td>
                <td>40</td>
              </tr>
              <tr>
                <th></th>
                <td>Orange</td>
                <td>40</td>
              </tr>
              <tr>
                <th></th>
                <td>Mango</td>
                <td>51</td>
              </tr>
              <tr>
                <th></th>
                <td>Blueberry</td>
                <td>53</td>
              </tr>
              <tr>
                <th></th>
                <td>Kiwi fruit  </td>
                <td>58</td>
              </tr>
              <tr>
                <th></th>
                <td>Banana</td>
                <td>47</td>
              </tr>
              <tr>
                <th></th>
                <td>Pineapple</td>
                <td>66</td>
              </tr>
              <tr>
                <th scope="row">Dairy Products  </th>
                <td>Skimmed milk  </td>
                <td>32</td>
                
                
              </tr>
              <tr>
                <th></th>
                <td>Milk</td>
                <td>34</td>
              </tr>
              <tr>
                <th></th>
                <td>Greek yoghurt with honey</td>
                <td>36</td>
              </tr>
              <tr>
                <th></th>
                <td>Condensed milk</td>
                <td>61</td>
              </tr>
              
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>


{% endblock %}
